* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #8f7cec;
  color: #444474;
  overflow: hidden;
}

body .pRect1, body .pRect2, body .pRect3 {
  background: rgba(255, 177, 255, 0.288);
  border-radius: 30px;
  position: absolute;
  z-index: 2;
}

body .pRect1 {
  width: 70%;
  height: 100%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -350px;
  top: 300px;
}

body .pRect2 {
  width: 50%;
  height: 70%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  right: -400px;
  top: -200px;
}

body .pRect3 {
  width: 50%;
  height: 50%;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  right: -250px;
  top: 760px;
}

body .wrapper {
  height: 100%;
  margin-bottom: -70px;
  padding-top: 40px;
}

body .wrapper section.screen {
  background: #f2f2f4;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.301);
          box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.301);
  max-width: 425px;
  margin: auto;
  position: relative;
  z-index: 10;
}

body .wrapper section.screen .title {
  padding: 40px 25px;
}

body .wrapper section.screen .title i {
  margin-right: 15px;
  font-size: 21px;
}

body .wrapper section.screen .title h3 {
  font-size: 23px;
  font-weight: bold;
}

body .wrapper section.screen .months {
  background: #e9e0f1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 12px;
}

body .wrapper section.screen .months .month {
  padding: 6px 12px;
  text-transform: capitalize;
  color: #8f8fa5;
  font-size: 16px;
}

body .wrapper section.screen .months .active {
  font-weight: 900;
  color: #444474;
}

body .wrapper section.screen .days {
  background: #b485f1;
  background: -webkit-gradient(linear, left top, right top, from(#b485f1), to(#8f7cec));
  background: linear-gradient(90deg, #b485f1 0%, #8f7cec 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .wrapper section.screen .days .day {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  color: rgba(238, 238, 238, 0.671);
}

body .wrapper section.screen .days .active {
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  color: #444474;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.199);
}

body .wrapper section.screen .appts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body .wrapper section.screen .appts .timeline .add-appt i {
  background: #00BFA5;
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin: 16px 16px 0 24px;
}

body .wrapper section.screen .appts .timeline .line {
  height: 460px;
  width: 45px;
  border-right: solid #000 1px;
}

body .wrapper section.screen .appts .appt-info {
  padding-top: 24px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment {
  position: relative;
  left: -50px;
  top: 50px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .ls {
  padding: 0 10px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .ls .circle {
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs {
  background: #fff;
  padding: 16px;
  width: 310px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.199);
  margin: -4px 0 0 6px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs::before {
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: 20px;
  top: -4px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .top .time {
  font-weight: 900;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .footer .photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("https://storage.googleapis.com/orms-blog/1/2012/07/Daneel_Malgas.jpg");
  background-size: cover;
  background-position: center -10px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .footer .photo2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("https://zsuttonphoto.com/wp-content/uploads/2020/05/Los-Angeles-Beauty-Photography-2020.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .footer .photo3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("https://cms-assets.tutsplus.com/uploads/users/80/posts/26806/image/13-Selfies.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

body .wrapper section.screen .appts .appt-info .appt-items .appointment .rs .footer .name {
  font-weight: bold;
  font-size: 14px;
}

body footer {
  background: #444474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
  height: 70px;
  width: 100%;
}

body footer p {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

body footer p a {
  color: pink;
}

body footer p a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */